// Place all the styles related to the Epics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.epic-container {
  padding: 20px;
  .epic-title {
    font-size: 32px;
    color: white;
  }
  .ticket-stats {
    font-size: 16px;
    color: gray;
    .current-target {
      color:#c32aff;
    }
    .current-progress {
      color: #39ff14;
    }
  }
}
